

:root{
	--mc: #3452ff;
}
body {
	color: #888;
	background-color:white;
	
	font-family: $fontbody;
	font-size: 14px;
	line-height: 1.7;
	overflow-x: hidden;
  }
  


body .cv__bg{
	left: 0;
    transition: all .5s ease;
}

.cv__bg{
	position: fixed;
	z-index: -100;
	width: 30%;
	background-color: var(--mc);
	clip-path: polygon(100% 0, 80% 50%, 100% 100%, 0 100%, 0 0);
	top: 0;
	left: -30%;
	bottom: 0;
	transition: all .5s .5s ease;
	
}
.deebo_fn_cv{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 100vh;
	
	
	opacity: 0;
	visibility: hidden;
	
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s 1s ease;
}
.deebo_fn__cv{
	position: absolute;
    top: 0px;
    bottom: 0px;
    width: auto;
    right: 0px;
    left: 0px;
   
	overflow: hidden;
}

